@font-face {
  src: url(fonts/SpecialElite-Regular.ttf); font-family: Typewriter;
}
h1 {
  font-family: Typewriter;
}
h2 {
  font-family: Typewriter;
}
h3{
  font-family: Typewriter;
}
p {
  font-family: Typewriter;
}
ul {
  font-family: Typewriter;
}
body {
  background-image: url(img/clouds.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
header {
  background-image: url(img/alaska.jpg);
  background-size: cover;
  height: 100vh;
  border-color: white;
  border: 10px;
}
.max {
  float: right;
  margin: 10px;
  border: 10px;
  padding: 4px;
  background-color:lightgray;
}
  .selfportrait {
    float: left;
    margin: 15px;
    border: 20px;
    padding: 4px;
    background-color:lightgray;
}
.heading_3 {
  margin: 6px;
  border: 2px rgb(219, 221, 216);
  width: 650px;
  padding: 4px;
}

.title {
  margin: 6px;
  border: 2px rgb(219, 221, 216);
  width: 550px;
  padding: 4px;
  color: white;
  position:relative; left:45px; top:375px;
}
.title2 {
  margin: 6px;
  border: 2px rgb(219, 221, 216);
  width: 550px;
  padding: 4px;
  color: white;
  position:relative; left:100px; top:380px;
}
body{
  background-image: "img/wrinkled.png"
}